# .gitignore

# Latexmk products
*.pdf

# TeX Files
__latexindent_temp.tex
_minted*
*.aux
*.auxlock
*.bbl
*.bbox
*.bcf
*.blg
*.count
*.dep
*.dpth
*.dvi
*.eps
*.fdb_latexmk
*.fls
*.gaux
*.glog
*.glsdefs
*.gtex
*.list
*.lof
*.log
*.lol
*.lot
*.md5
*.nav
*.out
*.pdf_tex
*.pyg
*.snm
*.synctex.gz
*.synctex(busy)
*.tdo
*.toc
*.vrb
*.xml
