name: test build

on:
  pull_request:
    paths:
      - Dockerfile
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Build and export
      uses: docker/build-push-action@v4
      with:
        push: false
        tags: sharelatex-full:test
        outputs: type=docker,dest=/tmp/sharelatex-full.tar
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: sharelatex-full
        path: /tmp/sharelatex-full.tar
        retention-days: 1
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: sharelatex-full
          path: /tmp
      - name: Load image
        run: |
          docker load --input /tmp/sharelatex-full.tar
          docker run --rm --volume $(pwd)/mwe:/mwe --entrypoint=/bin/bash sharelatex-full:test -c "/bin/bash /mwe/compile.sh"